<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>soundserver</title>
</head>
<body>
    <section id="hello">
        <ul>
            {{#each items}}
                <li>{{ this.name }}</li>
            {{/each}}
        </ul>
    </section>
</body>
</html>