<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
    .c-item + .c-item {
        margin-top: 16px;
    }
</style>
<body>
    <section id="playlist" class="c-list">
            {{#each items}}
            <div class="c-item">
                <div class="c-item__name">
                    <span>{{ this.name }}</span>
                </div>
                <div class="c-item__path">
                    <audio controls>
                        <source src="{{ this.path }}" type="audio/wav">
                    </audio>
                </div>
            </div>
            {{/each}}
    </section>
</body>
</html>