<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <script
            src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"
            integrity="sha512-g0etrk7svX8WYBp+ZDIqeenmkxQSXjRDTr08ie37rVFc99iXFGxmD0/SCt3kZ6sDNmr8sR0ISHkSAc/M8rQBqg=="
            crossorigin="anonymous"></script>
</head>
<style>
    .c-item + .c-item {
        margin-top: 16px;
    }
</style>
<body>
    <section id="playlist" class="c-list">
            {{#each items}}
            <div class="c-item">
                <div class="c-item__name">
                    <span>{{ this.name }}</span>
                </div>
                <div class="c-item__path">
                    <audio controls>
                        <source src="{{ this.path }}" type="audio/wav">
                    </audio>
                </div>
            </div>
            {{/each}}
    </section>
</body>
</html>